@font-face {
    font-family: source;
    font-weight: 100;
    font-style: normal;
    src: url("../fonts/SourceSansPro-Light.otf") format("opentype");
}
@font-face {
    font-family: source;
    font-weight: normal;
    font-style: normal;
    src: url("../fonts/SourceSansPro-Regular.otf") format("opentype");
}
@font-face {
    font-family: source;
    font-weight:bold;
    font-style: normal;
    src: url("../fonts/SourceSansPro-Bold.otf") format("opentype");
}
body {
    color: #bbb;
    margin: 0;
    height: 100%;
    width: 660px;
    border-radius: 3px;
    padding:3px;
    overflow-y: auto;
    font-size:14px;
    font-family:source, Tahoma, Arial, sans-serif;
}
* {
    box-sizing: border-box;
}
h2 {
    margin-top:5px;
    margin-bottom:5px;
}
div {
    margin:0;
    padding:0;
}
header {
    height:50px;
}
a.button {
    display:inline-block;
    border:none;
    background-image: -webkit-linear-gradient(270deg, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 1) 80%, transparent 81%, transparent);
    border-radius: 5px;
}
a.button:hover img {
    opacity:0.9;
}
a.button:active img {
    opacity:0.8;
}
.app-name {
    display:inline-block;
    padding-top: 11px;
    padding-left: 10px;
    font-size: 20px;
    font-weight:700;
    color:#000;
}
#content {
    position:relative;
    background-color: #222;
    height:350px;
    padding:15px;
    border-radius:2px;
}
#media-queries-container {
    display:none;
    position:relative;
    width:100%;
    height:100%;
    border-radius:2px;
    overflow-x:auto;
    overflow-y:hidden;
}
body[data-state="media-queries"] #media-queries-container {
    display:block;
}
#media-queries-ruler {
    position:absolute;
    height:20px;
    width:100%;
    overflow:hidden;
    white-space: nowrap;
    font-size:9px;
    font-weight:100;
}
#media-queries-buttons {
    display:none;
    margin-top: 8px;
    margin-right: 7px;
}
#btn-zoom-in, #btn-zoom-out {
    display:inline-block;
    background-color:#ddd;
    width: 32px;
    height: 32px;
    border-radius: 2px;
    overflow:hidden;
    margin-left:5px;
    text-decoration:none;
    outline:none;
}
#btn-zoom-in img, #btn-zoom-out img {
    margin-left:7px;
    margin-top:8px;
}
body[data-state="media-queries"] #media-queries-buttons {
    display:block;
    float:right;
}
.ruler-segment {
    display: inline-block;
    padding-left:2px;
    height:100%;
    opacity: 0.4;
    background: url('../images/ruler-high-bar.png') 0% 0% no-repeat, url('../images/ruler-low-bar.png') 25% 0% no-repeat, url('../images/ruler-mid-bar.png') 50% 0% no-repeat, url('../images/ruler-low-bar.png') 75% 0% no-repeat;
}
.width-marker {
    position:absolute;
    width:75px;
    height:65px;
    top:7px;
    color:#b7b7b7;
    background: url('../images/width-marker.png') 0 0 no-repeat;
    font-weight:100;
    padding-top:8px;
    text-align:center;
}
.width-marker.snapped {
    color:#FFE303;
}
.width-marker div {
    width:100%;
    margin-top:5px;
}
.width-marker img {
    opacity:0.8;
    padding-left:6px;
    padding-right:6px;
    cursor:pointer;
}
.width-marker img:hover {
    opacity:1;
}
.width-marker-line {
    position:absolute;
    height:100%;
    width:1px;
    top:20px;
    bottom:0;
    background-color:#aaa;
}
.width-marker-line.snapped {
    background-color:#FFE303;
}
#lst-media-queries-container {
    position:absolute;
    top:20px;
    bottom:0;
    width:100%;
    border-radius: 4px;
    background: -webkit-linear-gradient(top, #1d1d1d 1%, #323232 50%, #1d1d1d 99%);
    box-shadow: inset 0px 3px 7px 0px rgba(0, 0, 0, 0.2), 0px 0px 0px 1px rgba(255, 255, 255, 0.06);
    padding:1px;
    overflow-y: auto;
    overflow-x: hidden;
}
::-webkit-scrollbar {
    width: 5px;
    height: 5px;
    background: -webkit-linear-gradient(top, #1d1d1d 1%, #323232 50%, #1d1d1d 99%);
    box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.3);
}
::-webkit-scrollbar-button:start:decrement, ::-webkit-scrollbar-button:end:increment {
    display: none;
    background-color: transparent;
}
::-webkit-scrollbar-track-piece {
    background: -webkit-linear-gradient(top, #1d1d1d 1%, #323232 50%, #1d1d1d 99%);
    -webkit-border-radius:0px;
}
::-webkit-scrollbar-thumb:vertical {
    height: 50px;
    background-color: rgba(255, 255, 255, 0.8);
    opacity: 1;
    border: none;
    -webkit-border-radius: 6px;
}
#lst-media-queries {
    padding: 0;
    margin: 0 0 0;
}
#lst-media-queries > li {
    position:relative;
    display:block;
    height:36px;
    width:100%;
    overflow:hidden;
    opacity:0.6;
    border-bottom: 1px solid rgba(255, 255, 255, 0.08);
    transition: all 0.15s ease-in-out;
}
#lst-media-queries > li:hover {
    opacity:1;
    background-color: rgba(0, 0, 0, 0.25);
    animation: blink 10s ease-in-out infinite;
}
.media-query-bar {
    position:absolute;
    height:100%;
    overflow:hidden;
    box-shadow: inset 0px 1px 0px rgba(255, 255, 255, 0.0);
    background: url('../images/pattern-maxmin.png') repeat top left, url('../images/ico-eye-off.png') no-repeat 50% 50%, -webkit-linear-gradient(270deg, rgba(255, 255, 255, 0.0) 0%, rgba(0, 0, 0, 0.0) 100%);
    transition: all 0.15s ease-in-out;
}
#lst-media-queries > li:hover > .media-query-bar {
    background:url('../images/pattern-maxmin.png') repeat top left, url('../images/ico-eye.png') no-repeat 50% 50%, -webkit-linear-gradient(270deg, rgba(255, 255, 255, 0.12) 0%, rgba(0, 0, 0, 0.12) 100%);
    box-shadow:inset 0px 1px 0px rgba(255, 255, 255, 0.18);
}
#lst-media-queries > li:hover > .media-query-bar:hover {
    cursor:pointer;
}
.bar-min-label, .bar-max-label {
    color:#fff;
    position:absolute;
    top: 5px;
    text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.75);
    line-height: 12px;
    font-size:10px;
}
.bar-min-label {
    padding-right:6px;
    text-align:right;
}
.bar-max-label {
    padding-left:6px;
    text-align:left;
}
.media-query-bar.min-max {
    border-radius: 3px;
}
.media-query-bar.min {
    border-radius: 3px 0px 0px 3px;
}
.media-query-bar.max {
    border-radius: 0px 3px 3px 0px;
}
.btn-open-css {
    position:absolute;
    right:1px;
    width:36px;
    height:100%;
    opacity: 0.65;
    display:none;
    transition: all 0.15s ease-in-out;
}
.btn-open-css:hover {
    opacity: 1;
}
#lst-media-queries > li:hover > .btn-open-css {
    display:block;
    background:url('../images/ico-code.png') no-repeat 50% 50%;
    z-index:10;
}
#lst-media-queries > li:hover > .btn-open-css {
    cursor: pointer;
}
#progress {
    display:none;
    position:absolute;
    left:10px;
    top:10px;
    right:10px;
    bottom:10px;
    background-color:#3a3f42;
    z-index:20;
    overflow:auto;
}
body[data-state="progress"] #progress {
    display:block;
}
#progress-content {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 50%;
    height: 30%;
    margin: auto;
}
#progress-content > div {
    margin: auto;
    text-align:center;
    font-size:14px;
}
#progress-content > div > img {
    margin-bottom:15px;
}
#preview {
    display:none;
    position:absolute;
    left:10px;
    right:10px;
    top:10px;
    bottom:10px;
    overflow:auto;
}
body[data-state="preview"] #preview {
    display:block;
}
#preview > img {
    max-width:100%;
}
#preview-buttons {
    display:none;
    margin-top: 8px;
    margin-right: 7px;
}
body[data-state="preview"] #preview-buttons {
    display:block;
    float:right;
}
#preview-buttons > * {
    cursor:pointer;
    text-decoration:none;
}
#authorize {
    display:none;
    text-align:center;
    font-size:14px;
}
body[data-state="authorize"] #authorize {
    display:block;
}
#authorize > * {
    margin-top:45px;
}
#publish {
    display:none;
    position:absolute;
    left:10px;
    right:10px;
    top:10px;
    bottom:10px;
    overflow:auto;
}
body[data-state="publish"] #publish {
    display:block;
}
#publish-buttons {
    display:none;
    margin-top: 8px;
    margin-right: 7px;
}
body[data-state="publish"] #publish-buttons {
    display:block;
    float:right;
}
#wip-preview {
    float:left;
    width:40%;
    height:100%;
    padding:5px;
    text-align:center;
}
#wip-preview img {
    max-width:95%;
    max-height:95%;
}
#wip-info {
    float:right;
    width:60%;
    height:100%;
    padding:5px;
}
#wip-info * {
    display:block;
    margin-bottom:4px;
}
#wip-info input, #wip-info textarea {
    width:90%;
    padding:8px;
    border:1px solid rgba(0, 0, 0, 0);
}
#wip-info textarea {
    height:60px;
}
:focus:invalid {
    border: 1px solid #ff0000 !important;
}
:focus {
    outline:none;
}
input:required, textarea:required {
    background: #fff url(../images/asterix.png) no-repeat 98% center;
}
.alert {
    position:absolute;
    z-index:1000;
    background-color:#00ff00;
    line-height:25px;
    text-align:center;
    width:70%;
    left:15%;
    top:200px;
    padding:5px;
    overflow:hidden;
    border-radius:5px;
    color:#fff;
    display:none;
}
.alert.error {
    background-color:#ff0000;
}
@-webkit-keyframes blink {
    0% {
        opacity:1;
    }
    50% {
        opacity:0.7;
    }
    100% {
        opacity:1;
    }
}