html {
    background: rgb(52, 52, 52);
}
body {
    padding:0;
    font-family: source-code-pro, serif;
    color:#f7f7f7;
}
#container {
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    max-width:480px;
    height:480px;
    text-align:center;
}
a, a:visited {
    color:#f7f7f7;
}